<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="shoppingEditForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
          <span
            class="help-block"
            *ngIf="
              shoppingEditForm.get('name').invalid &&
              shoppingEditForm.get('name').touched
            "
            >Please enter Ingredient Name</span
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount"
          />
          <span
            class="help-block"
            *ngIf="
              shoppingEditForm.get('amount').invalid &&
              shoppingEditForm.get('amount').touched &&
              shoppingEditForm.get('amount').errors['min']
            "
            >Ingredient amount must at least 1</span
          >
          <span
            class="help-block"
            *ngIf="
              shoppingEditForm.get('amount').invalid &&
              shoppingEditForm.get('amount').touched &&
              shoppingEditForm.get('amount').errors['required']
            "
            >Please enter Ingredient amount</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" [disabled]="shoppingEditForm.invalid">{{isEditMode ? "Update" : "Add"}}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="isEditMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
